*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 85vw;
    margin:auto;
    background-color: #0F0E0E;
    color: #fff;
    font-family: "SN Pro", sans-serif;
}

#nav-ber{
    /* width: 100vw; */
    /* height: 4rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    font-family: "Geist", sans-serif;

}

#nav-ber #Left{
    font-size: 1.3rem;
}

#nav-ber #middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    padding: 20px 2px 20px 20px;
    gap: 1.4rem;
    font-size: 0.9rem;
}

#nav-ber #Right{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    padding: 0.5rem;
    gap: 1.4rem;
    font-size: 1rem;
}

#Right .menu2{
    width: 5rem;
    border: 2px solid red;
    /* height: 30px; */
    border: 1px solid #EAEFEF;
    padding:4px;
    border-radius:80px;
    text-align: center;
    font-size: 15px;
}


#Right .menu3{
    width: 8rem;
    /* border: 2px solid red; */
    background-color: #fff;
    color: #0F0E0E;
    font-weight: 600;
    border: 1px solid #EAEFEF;
    padding:4px;
    border-radius:80px;
    text-align: center;
    font-size: 15px;
    margin-left: -10px;
    /* gap: 2px; */
}



                    /* heo section */


#hero .content1{
    width: 50vw;
    /* border: 2px solid red; */
    margin-top: 6.5rem;
    font-size: 34px;
    font-weight: 100;
} 

#hero .click {
    width: 15rem;
    border: 2px solid #0000;
    padding: 10px;
    border-radius: 45px;
    margin-top: 20px;
    font-size: medium;    
}

#hero .hero-img{
    width:85vw;
    margin-top: 5rem;
    border-radius: 5px;
}


                         /* hero-section(second-porsan) */

#hero-2 .hero-img2 img{
    width:85vw;
    margin-top: 5rem;
    border-radius: 5px;
}                       


                            /* footer section  */

#last-part .hadding h1{
    font-size: 45px;
    text-align: center;
    margin-top: 5rem;
}                           


#last-part .footer-buton{
    display: block;
    /* border: 2px solid red; */
    border-radius: 50px;
    padding: 10px;
    width: 15remrem;
    font-size: medium;
    margin: auto;
    margin-top: 1rem;
}

